<html>
<header>
  <style>
    .border{
      display: flex;
      align-content: center;
      justify-content: center;
    }
    .block{
      background-color: black;
      border-radius: 20px;
    }
  </style>
</header>
<body>
  <div class="border">
    <form class="block" method="POST">
      <input type="text" name="username" required>
      <input type="submit">
    </form>
  </div>
</body>
</html>